
{% extends "layout.twig" %}

{% block body %}

    <ul class="list-group">
        <li class="list-group-item">Storage size : <span class="badge badge-info">50Gb / 100Gb</span></li>
        <li class="list-group-item">SDR Connection : <span class="badge badge-success">online</span></li>
        <li class="list-group-item">Internet Connection : <span class="badge badge-danger">offline</span></li>
        <li class="list-group-item">Today's satellite pass : <span class="badge badge-info">10</span></li>
    </ul>

{% endblock %}